.nain{
    
    overflow: visible;
    position: fixed;
    width: 720px;
    height:700px;
    left: 600px;
    top: 190px;
    background-color: #ffffff;
    border: rgba(112, 112, 112, 1) solid 1px;
}

.warning {
    overflow: visible;
    position: fixed;
    width: 129.256px;
    height: 129.257px;
    left: 891px;
    top: 273px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#WARNING___All_data_will_be_era {
    position: fixed;
    left: 684px;
    top: 456px;
    overflow: hidden;
    width: 554px;
    height: 250px;
    text-align: center;
    font-family:  Arial Rounded MT;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: rgba(29, 39, 46, 1);
    letter-spacing: 0.1px;
}

#btnConfirm {
    overflow: visible;
    position: fixed;
    width: 256px;
    height: 83px;
    left: 684px;
    top: 746px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    white-space: nowrap;
    text-align: center;
    font-family:  Arial Rounded MT;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.1px;
    background-color: rgba(255,63,52,1);
}

#btnCancel {
    overflow: visible;
    position: fixed;
    width: 256px;
    height: 83px;
    left: 981px;
    top: 746px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-color: rgba(5, 196, 107, 1);
    white-space: nowrap;
    text-align: center;
    font-family:  Arial Rounded MT;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.1px;
}