<div class="nain">

    <div class="warning">
        <img src="../../assets/Icon metro-warning.svg">
    </div>
    <div id="WARNING___All_data_will_be_era">
        <span>WARNING!</span><br><span style="font-style:normal;font-weight:normal;"><br>All data will be erased and
            lost
            forever! Are you sure?</span>
    </div>
    <button id="btnConfirm" (click)="confirm()">
        <span>Yes, I'm Sure.</span>
    </button>

    <button id="btnCancel" (click)="cancel()">
        <span>No.</span>
    </button>
</div>